/* Todo: set up styling */

body {
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 1300px;
    margin: auto;
}

#tooltip {
    position: absolute;
    opacity: 0;
    background: #fff;
    box-shadow: 2px 2px 3px 0px rgb(92 92 92);
    border: 1px solid #444;
    font-weight: 600;
    padding: 10px;
    left: 0px;
    top: 0px;
}

.tooltip-title {
    font-weight: bold;
}

.tooltip-label {
    font-weight: 500;
    color: #888;
}

.mech-overview-point {
    opacity: 0.35;
}

#lt0-lt1-container{
    display: flex;
    flex-direction: column;
}

.lap-time-0-container {
    display: flex;
    flex-direction: column;
}

#lap-time-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.lt1-chart {
    /*width:240px;*/
    /*height:100px;*/
}

.lt0-lt1-top {
    display:inherit;
    flex-flow: row;
    justify-content: space-between;
}

.lap-time-1-explanation{
    /*width: 40%*/
}

#lap-time-0, #lap-time-1{
    text-align: center;
}

.lap-time-0-line, .lap-time-1-line {
    fill: none;
    stroke: black;
    stroke-width: 3;
    stroke-linecap: round;
}

.lap-time-1-line {
    stroke-width: 2;
}

.lap-time-1-line-dashed {
    fill: none;
    stroke: black;
    stroke-width: 1 !important;
    stroke-dasharray: 3;
}

.lap-time-1-svg {
    /*padding-right: 10px*/
}

.lt0-point, .lt1-point {
    fill-opacity: 1;
    fill: black;
}

.lt0-selected, .lt1-selected {
    fill: #FF1E00;
    fill-opacity: 1;
}

